body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/agua.jpg');
}

/* Titulo e icono */
.container {
    padding: 10px;
    font-family: Lobster;
    font-style: italic;
    font-size: 40px;
    text-decoration: underline;
}

.header {
    padding: 10px;
    margin-top: 0;
    font-family: Lobster;
}

#text-area {
    width: 100%;
    height: 60px; /* ajustado para dos líneas */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 2px;
    font-family: Lobster;
    font-size: 20px;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Boton borrar */
.delete-btn {
    margin-right: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    color: black;
    font-family: Piedra;
    background-color: red;
}
/* Contenedor notas guardadas */
#saved-notes {
    padding: 10px;
    margin-top: 3px;
    font-size: 18px;
    Font-family: Piedra;
}

/* Boton guardar */
#save-btn{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 250px;
    font-family: Lobster;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}
/* Configurar las notas abajo*/
/* Estilo para la nota que muestra solo dos líneas */
.note-entry {
    overflow: hidden;
    max-height: 3em; /* Dos líneas más un poco de margen */
    position: relative;
    cursor: pointer; /* Cambiar el cursor para indicar que se puede hacer clic */
    margin-top: 15px;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    border-radius: 5px;
}

/* Estilo para mostrar el contenido completo al hacer clic en la nota */
.note-entry.expand {
    max-height: none; /* Mostrar todo el contenido */
}

/*Esta parte es sobre el icono para que gire */
.ico{
				 border-radius: 50%; 
				 margin: 0 15px 0 0;
				 animation-name: logo;
				 animation-duration: 3s;
			 /*	transform: rotate(0deg);*/
		  transition: all 0.5s ease-in-out;
		  background-color: black;
		  border: 2px solid red;
    box-shadow: 0 0 0 3px black;
}

@keyframes logo{
   from{
     opacity: 0;
     transform: scale(0.5) rotate(0deg);
}
     
    to{
      opacity: 1;
      transform: scale(1) rotate(1440deg);
    }
}

/* Agrega estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    z-index: 1; /* Ubicar el modal encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Permitir desplazamiento si el contenido es más largo que la ventana */
    background-color: rgb(0,0,0,0.4); /* Fondo oscuro semitransparente */
    font-family: Yellowtail;
    font-size: 25px;
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* Centrar vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /*Ancho del contenido*/
    border-radius: 20%;
    text-align: center;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
}

/* Estilos para los botones dentro del modal */
#confirm-delete, #cancel-delete {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    background-color: gainsboro;
    color: black;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.70);
    font-family: Piedra;
    font-size: 20px;
    font-style: italic;
}



